html
body{
  background-image: url(../FCCTributePage/images/bg.png);
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:260px;
}

h1 {
  margin: .25em;
}

img {
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
}

/* ----Grid Layouts---- */

.wrapper {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  }

.subwrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(100%, 1024px);
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

/* ----Text Styles---- */

.titletext {
  color: rgb(223, 223, 223);
  font-size: 3em;
}

.subtext {
  color: rgb(99, 99, 99);
  padding: 0em 1em 0em 1em;
}

.contenttext {
  color : rgb(0, 0, 0);
  text-align: justify;
  text-justify: distribute;
  padding: 0em 1em 0em 1em;
}