html
body{
  background-image: url(../FCCTributePage/images/bg.png);
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:260px;
  margin: 40px;  
}

img {
  border-radius: 5px;
}

/* ----Grid Layouts---- */

.wrapper {
  display: grid;
  grid-template-rows: 50px 50px auto;
  grid-template-columns: auto;
  justify-items: center;
  }

.subwrapper {
  display: grid;
  grid-template-rows: auto 50px auto 50px;
  grid-template-columns: auto;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

/* ----Text Styles---- */

.titletext {
  color: rgb(223, 223, 223);
}

.subtext {
  color: rgb(99, 99, 99);
}

.contenttext {
  color : rgb(0, 0, 0);
}